
.mat-grid-tile{
    background-color: gray;
}

.mat-elevation-z8{
    width: 90%;
}

.container{
    width: 100%;
    margin-top: 10px;
    text-align: center; 
}

.mat-header-cell {
    background-color: #E22525;
    color: black;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
}

table {
    background-color: #E83E3E;
    min-width: 100%;
    margin: auto;
    font-weight: bold;
    text-align: center;
 }

 .mat-paginator{
    background-color: #E22525;
    color: black;
    font-weight: bold;
 }